[user]
    name = Pierre-Emmanuel Lévesque
    email = pierre.e.levesque@gmail.com

[core]
    excludesfile = /Users/pel/.config/git/ignore
    autocrlf = input
    editor = nvim

[credential]
    help = cache

[alias]
    a = add
    b = branch
    c = commit
    cane = commit --amend --no-edit
    co = checkout
    cob = checkout -b
    d = diff
    logo = log --oneline
    rc = rebase --continue
    ri = rebase -i
    s = status

[push]
    default = simple
